<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name= "viewport" contet="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
<title> Streaming </title>
<meta name="author" content="Ed Carlos"/>
</head>
<body>
<p>VOCÊ ESTÁ USANDO SPRINGBOOT</p>
<h1 th:text="${msg}"></h1>

<button class ="btn btn-primary">Teste</button> 
<script scr="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script scr="/wecjars/boorstrap/js/bootstrap.min.js"></script>
</body>
</html>